extends ../layout

block content
  label
  h2 Registration Keys
  .container-fluid
    .row
      .col-md-4
        #new-id-alert-placeholder
        form
          .form-group
            .input-group.mb-3
              input#keys-count.form-control(type='number', placeholder='Number of keys to generate, default 10')
              .input-group-append
                button#btn-generate-id.btn.btn-outline-primary(type='button') Generate
    #key-container

append footer
  script(src='/javascripts/accounts.js')
