extends layout

block content
  .container-fluid
    .row
      .col-sm-12
        #carouselHeaderIndicators.carousel.slide(data-ride='carousel')
          ol.carousel-indicators
            li.active(data-target='#carouselHeaderIndicators', data-slide='0')
            li(data-target='#carouselHeaderIndicators', data-slie='1')
          .carousel-inner
            .carousel-item.active
              img.d-block.w-100(src='/images/banner1.jpg', alt='SBS Marketing')
            .carousel-item
              img.d-block.w-100(src='/images/banner2.jpg', alt='Kalan')
          a.carousel-control-prev(href='#carouselHeaderIndicators', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
          a.carousel-control-next(href='#carouselHeaderIndicators', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
              span.sr-only Next
    label
    .row
      .col-sm-12
        img.img-fluid.mx-auto.d-block(src='/images/bodyimage.jpg', alt='body image')
    label
