doctype html
html
  head
    title= title
    link(href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/united/bootstrap.min.css", rel="stylesheet", integrity="sha384-9nkB73MkhCaHgW6bdX2EbWnwXl8FUs1fTnR1UKUuic9Zqs/3u9VunCE/0hleKeUs", crossorigin="anonymous")
    link(href='https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.min.css', rel='stylesheet', integrity='sha256-TQcHzEz3/ZJ8MeAoO1SRE5sa5q68U57dwZO/tArtNqk=', crossorigin='anonymous')
    script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
    style(type='text/css').
      body {
        padding-top: 5rem;
      }

      .cursor-row {
        cursor: pointer;
      }

      .form-inline {
        padding: 10px;
      }

      .pagination {
        float: right;
      }

      .padding-bottom-5 {
        padding-bottom: 5px;
      }

      .nav-link small {
        display: block;
        font-size:12px;
      }
  body
    if userId == null
      include modal/login.pug
      include modal/registration.pug
    if referenceId
      include modal/updatedetails.pug
      include modal/levelreferrals.pug
    block navbar
      nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark
        a.navbar-brand(href='/') SBS Marketing
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor02', aria-controls='navbarColor02', aria-expanded='false', aria-label='Toggle navigation', stytle='')
          span.navbar-toggler-icon
        #navbarColor02.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a#about-link.nav-link(href='/about') About SBS Complan
          ul.navbar-nav.ml-auto
            if userId != null
              if isAdmin
                li.nav-item
                  a#accounts-link.nav-link(href='/accounts') Codes
              if referenceId
                li.nav-item
                  a#update-details.nav-link(href='#', data-toggle='modal', data-target='#update-details-modal') Profile
              li.nav-item
                a#report-link.nav-link(href='/reports') Reports
              li.nav-item
                a#logout-link.nav-link(href='/logout') Logout
            else
              li.nav-item
                a#login-link.nav-link(href='#', data-toggle='modal', data-target='#login-modal') Member Login
    block content
    block footer
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha256-98vAGjEDGN79TjHkYWVD4s87rvWkdWLHPs5MC3FvFX4=" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js", integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T", crossorigin="anonymous")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js', integrity='sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js', integrity='sha256-G7A4JrJjJlFqP0yamznwPjAApIKPkadeHfyIwiaa9e0=', crossorigin='anonymous')
    if userId == null
      script(src='/javascripts/auth.js')
