extends ../layout

block content
  label
  .container-fluid
    .row
      .col-sm-12
        .alert.alert-info
          h4.alert-heading Member Summary Report
          strong#generated-date
            .row
              .col-sm-4
                | Total TPB:
                h1.text-primary #{claimedTpb}
              .col-sm-4
                | Previous Month TPB:
                h1#prevMonth.text-primary 0
              .col-sm-4
                | Current Month TPB:
                h1#curMonth.text-primary 0
          hr
          .row
            .col-sm-12
              h2 #{memberName}
          .row
            .col-sm-3
              | Reference Code: 
              strong #{referenceId}
            .col-sm-3
              if uplineId && isAdmin
                | Upline: 
                a(href='/reports/membersummary/' + uplineId)
                  strong #{uplineName}
            .col-sm-3
              | Username: 
              strong #{username}
            if isAdmin
              .col-sm-3
                | password: 
                strong #{password}
          .row
            .col-sm-3
              | Birthdate: 
              strong #{bday}
            .col-sm-3
              | Contact: 
              strong #{contactNumber}
            .col-sm-3
              | Address: 
              strong #{address}
    .row
      .col-sm-4
        .row
          .col-sm-12
            .card
              .card-header.text-white.bg-primary Levels Total Count
              .card-body
                table#total-level-count.table.table-striped.table-hover.table-bordered.table-sm
                  thead
                    tr
                      th Levels
                      th.text-right Total
                  tbody
                    tr#1.cursor-row
                      td Level 1
                      td#lvl1.text-right 0
                    tr#2.cursor-row
                      td Level 2
                      td#lvl2.text-right 0
                    tr#3.cursor-row
                      td Level 3
                      td#lvl3.text-right 0
                    tr#4.cursor-row
                      td Level 4
                      td#lvl4.text-right 0
                    tr#5.cursor-row
                      td Level 5
                      td#lvl5.text-right 0
                    tr#6.cursor-row
                      td Level 6
                      td#lvl6.text-right 0
                    tr#7.cursor-row
                      td Level 7
                      td#lvl7.text-right 0
                    tr#8.cursor-row
                      td Level 8
                      td#lvl8.text-right 0
                    tr#9.cursor-row
                      td Level 9
                      td#lvl9.text-right 0
                    tr#10.cursor-row
                      td Level 10
                      td#lvl10.text-right 0
                    tr#11.cursor-row
                      td Level 11
                      td#lvl11.text-right 0
                    tr#12.cursor-row
                      td Level 12
                      td#lvl12.text-right 0
                    tr#13.cursor-row
                      td Level 13
                      td#lvl13.text-right 0
                    tr#14.cursor-row
                      td Level 14
                      td#lvl14.text-right 0
                    tr#15.cursor-row
                      td Level 15
                      td#lvl15.text-right 0
                    tr
                      td Overall Total downlines.
                      td#otd.text-right 0
        .row
          .col-sm-12
            .card
              .card-header.text-white.bg-primary Cut Offs Payments
              .card-body
                table#cutoff-table.table.table-striped.table-hover.table-bordered
                  thead
                    tr
                      th Cut Off Date
                      th.text-right Amount
                  tbody
      .col-sm-8
        .card
          .card-header.text-white.bg-primary Referrals
          .card-body
            #level-1-container.padding-bottom-5
            #level-2-container.padding-bottom-5
            #level-3-container.padding-bottom-5
            #level-4-container.padding-bottom-5
            #level-5-container.padding-bottom-5
            #level-6-container.padding-bottom-5
            #level-7-container.padding-bottom-5
            #level-8-container.padding-bottom-5
            #level-9-container.padding-bottom-5
            #level-10-container.padding-bottom-5
            #level-11-container.padding-bottom-5
            #level-12-container.padding-bottom-5
            #level-13-container.padding-bottom-5
            #level-14-container.padding-bottom-5
            #level-15-container.padding-bottom-5
            ul.pagination
              li.page-item
                a#referral-prev.page-link(href='#') &laquo;
              li.page-item
                a#referral-cur.page-link(href='#') YYYY-MM
              li.page-item
                a#referral-next.page-link(href='#') &raquo;

append footer
  script(src='/javascripts/membersummary.js')
  script(src='/javascripts/profile.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js', integrity='sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k=', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js', integrity='sha256-t5ZQTZsbQi8NxszC10CseKjJ5QeMw5NINtOXQrESGSU=', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap4.min.js', integrity='sha256-hJ44ymhBmRPJKIaKRf3DSX5uiFEZ9xB/qx8cNbJvIMU=', crossorigin='anonymous')
