extends ../layout

block content
  label
  .container-fluid
    .row
      .col-sm-12
        .alert.alert-info
          h4.alert-heading Summary Report
          .row
            .col-sm-4
              | TPB Total:
              h1.text-primary#tpb-total
            .col-sm-4
              | Previous Month Total:
              h1.text-primary#prev-month-amount
            .col-sm-4
              | Current Month Payables:
              h1.text-primary#curr-month-amount
    .row
      .col-sm-12
        table#member-summary-report.table.table-striped.table-hover.table-bordered.text-right
          thead.thead-inverse
            tr
              th.text-left Name
              th.text-left Username
              th.text-left Ref. Code
              th TPB
              th Previous Month
              th Current Month
          tbody

append footer
  script(src='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js', integrity='sha256-t5ZQTZsbQi8NxszC10CseKjJ5QeMw5NINtOXQrESGSU=', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap4.min.js', integrity='sha256-hJ44ymhBmRPJKIaKRf3DSX5uiFEZ9xB/qx8cNbJvIMU=', crossorigin='anonymous')
  if isAdmin
    script(src='/javascripts/reports.js')
    script(src='/javascripts/profile.js')
