#levelreferrals.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#levelreferrals-header.modal-title
        button#btn-levelreferrals-close.close(type='button', tabindex='-1', data-dismiss='modal', aria-label='close')
          span(aria-header='true') &times;
      .modal-body
        table#levelreferrals-table.table.table-striped.table-hover.table-bordered
          thead
            tr
              th #
              th Member
              th Registration Date
          tbody
