#login-modal.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5.modal-title Login
        button#btn-login-close.close(type='button', tabindex='-1', data-dismiss='modal', aria-label='close')
          span(aria-header='true') &times;
      .modal-body
        #login-error-container
        form
          div.form-group
            input#login-username.form-control(type='text', placeholder='Username')
          div.form-group
            input#login-password.form-control(type='password', placeholder='Password')
          button#login-button.btn.btn-primary.btn-lg.btn-block(type='button') Login
      .modal-footer
        button#login-register.btn.btn-link(type='buton', data-toggle='modal', data-target='#registration-modal') Register
