#registration-modal.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog.modal-lg(role='document')
    .modal-content
      .modal-header
        h5.modal-title Register
        button#btn-register-close.close(type='button', tabindex='-1', data-dismiss='modal', aria-label='close')
          span(aria-header='true') &times;
      .modal-body
        #registration-error-container
        form
          div.form-row
            div.form-group.col-md-6
              label(for='referral-id') Referral ID
              input.form-control(type='text', id='referral-id', placeholder='Referral ID')
            div.form-group.col-md-6
              label(for='upline-username') Upline Username
              input.form-control(type='text', id='upline-username', placeholder='Upline Username')
          div.form-row
            div.form-group.col-md-6
              label(for='username') Username
              input.form-control(type='text', id='username', placeholder='Username/Email Address')
          div.form-row
            div.form-group.col-md-6
              label(for='password') Password
              input.form-control(type='password', id='password', placeholder='Password')
            div.form-group.col-md-6
              label(for='password-confirm') Confirm Password
              input.form-control(type='password', id='password-confirm', placeholder='Confim Password')
          div.form-row
            div.form-group.col-md-6
              label(for='fname') First Name
              input.form-control(type='text', id='fname', placeholder='First Name')
            div.form-group.col-md-6
              label(for='lname') Last Name
              input.form-control(type='text', id='lname', placeholder='Last Name')
          div.form-row
            div.form-group.col-md-6
              label(for='mname') Middle Name
              input.form-control(type='text', id='mname', placeholder='Middle Name')
            div.form-group.col-md-6
              label(for='bday') Birthdate
              input.form-control(type='date', id='bday')
          div.form-group
            label(for='contact-number') Contact Number
            input.form-control(type='text', id='contact-number', placeholder='Personal/Home/Work number')
          div.form-group
            label(for='address') Address
            textarea#address.form-control(placeholder='Complete Address')
          button#register.btn.btn-primary.btn-lg.btn-block(type='button') Register
      .modal-footer
