div#userID(data-id=referenceId)
#update-details-modal.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog.modal-lg(role='document')
    .modal-content
      .modal-header
        h5.modal-title Update User Profile
        button#btn-update-details-close.close(type='button', tabindex='-1', data-dismiss='modal', aria-label='close')
          span(aria-header='true') &times;
      .modal-body
        #updatedetails-error-container
        form
          div.form-row
            div.form-group.col-md-6
              label(for='username') Username
              input.form-control(type='text', id='username', value=username, placeholder='Username/Email Address', disabled)
          div.form-row
            div.form-group.col-md-6
              label(for='password') Password
              input.form-control(type='password', id='password', placeholder='Password')
            div.form-group.col-md-6
              label(for='password-confirm') Confirm Password
              input.form-control(type='password', id='password-confirm', placeholder='Confim Password')
          div.form-row
            div.form-group.col-md-6
              label(for='fname') First Name
              input.form-control(type='text', id='fname', value=fname placeholder='First Name', disabled)
            div.form-group.col-md-6
              label(for='lname') Last Name
              input.form-control(type='text', id='lname', value=lname placeholder='Last Name', disabled)
          div.form-row
            div.form-group.col-md-6
              label(for='mname') Middle Name
              input.form-control(type='text', id='mname', value=mname, placeholder='Middle Name')
            div.form-group.col-md-6
              label(for='bday') Birthdate
              input.form-control(type='date', id='bday', value=bday)
          div.form-group
            label(for='contact-number') Contact Number
            input.form-control(type='text', id='contact-number', value=contactNumber, placeholder='Personal/Home/Work number')
          div.form-group
            label(for='address') Address
            textarea#address.form-control(placeholder='Complete Address') address
          button#update-details-button.btn.btn-primary.btn-lg.btn-block(type='button') Update
      .modal-footer
